
.about .content h1{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: #351311;
  margin-bottom: 40px;
}

.about .content h5{
  font-weight: 500;
  margin-bottom: 15px;
  color: #4a3b2a;
  line-height: 1.6;
}

.about .content p{
  color: #555;
  margin-bottom: 55px;
  font-size: 1rem;
}

.about .content .aboutBtn{
  padding: 12px 50px;
  border-radius: 30px;
  border: 2px solid #351311;
  background-color: #351311;
  color: white;
  box-shadow: 10px 12px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  cursor: pointer;
}

.about .content .aboutBtn:hover{
  transform: scale(1.05);
  transition: all 0.3s linear;
  background-color: transparent;
  color: #351311;
}