
.features .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: #351311;
}
.features .item {
  border: 1px solid #35131122;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: all 0.3s linear;
}

.features .item:hover {
  border: 1px solid #351311;
  border-radius: 50px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.features .item img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: all 0.3s linear;
}
.features .item:hover img {
  transform: scale(1.05);
  border-radius: 15px;
}
