.footer {
  position: relative;
  padding: 0;
}

.footerContent {
  position: relative;
  width: 100%;
}

.footerImg {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  margin-left: auto;
  filter: contrast(110%) brightness(125%) saturate(90%);
  mix-blend-mode: multiply;
}

.footerOverlay {
  position: absolute;
  top: 45%; 
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 10px;
}

.footerText {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cupIcon {
  margin: 0 10px;
}

@media (max-width: 576px) {
  .footerOverlay{
    top: 50%;
    left: 50%;
  }
}
